{
   "presets": [
      ["env", {
            "targets": {
               "browsers": ["last 2 years", "safari >= 7"]
            }
      }],
      "react",
      "stage-0"
   ],
   "plugins": ["react-require", "transform-runtime"]
 }